@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "articulat-cf", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

html {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

main {
    padding: 35px 0;
}

h1 {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5em;
    line-height: 1em;
    margin: 0;
    margin-bottom: 15px;
}

h2 {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0;
    margin-bottom: 15px;
}

h3 {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    margin-bottom: 15px;
}

label {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    margin: 0;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    margin-left: 10px;
    padding: 5px 15px;
}